@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #b1b1b1;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 1.5rem 0;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 3rem;
  background-color: #252831;
  text-align:center;
	padding-top: 1rem;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb-nav {
		padding: 10px 40px 16px;
		background-color: #eee;
		width: calc(50% - 80px);
		height: 1.5rem;
	  text-align: left;
}
#breadcrumb {
    padding: 0;
    list-style: none;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #006cc9;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
	height: 60vh;
  width: 100%;
  background-color: #ccc;
}
#map-placeholder {
	background-image: url(/img/map-image.png);
	background-size: cover;
	padding: 38vh 0vw;
	font-size: 2rem;
	color: #2f4f4f;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  height: calc(100% - 4rem);
  position: fixed;
  right: 0;
  top: 4rem;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #aa5a00;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 4rem 0 1rem;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
	padding: 4rem 2rem 1rem;
  width: calc(50% - 4rem);
}
#reviews-container h2 {
  color: #aa5a00;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0 0 5rem;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
	border-top-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#reviews-list li p {
	margin-top: 10px;
	margin-bottom: 10px;
}
#restaurant-hours td {
  color: #666;
}
.review-name {
	color: #fff;
}
.review-date {
	color: #b9b9b9;
	text-align: right;
}
.review-name, .review-date {
  background-color: #333333;
	display: inline-block;
	width: calc(100%/2 - 2rem);
  padding: 1rem;
  margin: 0 !important
}
.review-rating {
	display: inline-block;
  border: 1px solid #a56900;
  border-radius: 0.2rem;
  background-color: #a56900;
  color: white;
  padding: 0.2rem 1rem;
  margin-left: 1.5rem;
}
.review-comments {
	padding: 0 1.5rem;
}

/* ====================== Define Media Queries ====================== */
@media (max-width: 499px) {
	nav h1 a {
    letter-spacing: 0.3rem;
	}
	#restaurant-container, #reviews-container {
    width: 90%;
	}
}

@media (min-width: 500px) and (max-width: 749px) {
	#restaurant-container, #reviews-container {
		width: 70%;
	}
}

@media (max-width: 749px) {
	#breadcrumb-nav {
		width: 100%;
	}
	/* reduce top spacing on smaller screens */
	#restaurant-name {
		margin: 2rem 0 1rem;
	}
	#restaurant-container, #reviews-container {
		margin: auto;
		padding: 4rem 1rem 1rem;
	}
	/* reduce top spacing on smaller screens */
	#reviews-container {
		padding: 2rem 1rem;
	}
	.inside #map-container {
		position: relative;
		height: calc(100vh - 7rem);
		margin-top: 3rem;
    width: 100%;
	}
	#map-placeholder {
		position: relative;
    height: calc(100vh - (50vh + 7rem));
		padding: 25vh 0vw;
		margin-top: 3rem;
		width: 100%;
	}
	.inside #footer {
		width: 100%;
	}
}

@media (min-width: 750px) {
	#map-placeholder {
		height: calc(100% - 4rem);
		position: fixed;
		right: 0;
		top: 4rem;
		width: 50%;
	}
}
