@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #b1b1b1;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 1.5rem 0rem;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 3rem;
  background-color: #252831;
  text-align:center;
	padding-top: 1rem;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #006cc9;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
	height: 60vh;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 5rem;
  background-color: #3397DB;
	text-align: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 2;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 2rem;
  letter-spacing: 0;
  margin: .5rem;
  padding: 0 10px;
  width: 12rem;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
	padding: .5rem .5rem 2rem;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
	margin: .5rem;
  min-height: 380px;
	padding: 0 .5rem 2rem;
  text-align: left;
	width: calc((100vw / 3) - 3rem);
	display: inline-grid;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: calc(100% - 4rem);
  position: fixed;
  right: 0;
  top: 4rem;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #d57200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 4rem 0 1rem;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
	padding: 4rem 2rem 1rem;
  width: 45%;
}
#reviews-container h2 {
  color: #aa5a00;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0 0 5rem;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
	border-top-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
	/* padding: 0 1.5rem 1rem; */
  position: relative;
  width: 95%;
}
#reviews-list li p {
	margin-top: 10px;
	margin-bottom: 10px;
}
#restaurant-hours td {
  color: #666;
}
.review-name {
	color: #fff;
}
.review-date {
	color: #b9b9b9;
	text-align: right;
}
.review-name, .review-date {
  background-color: #333333;
	display: inline-block;
	width: calc(100%/2 - 2rem);
  padding: 1rem;
  margin: 0 !important
}
.review-rating {
	display: inline-block;
  border: 1px solid #a56900;
  border-radius: .2rem;
  background-color: #a56900;
  color: white;
  padding: .2rem 1rem;
  margin-left: 1.5rem;
}
.review-comments {
	padding: 0 1.5rem;
}

/* ====================== Define Media Queries ====================== */
@media (max-width: 499px) {
	nav h1 a {
    letter-spacing: .3rem;
	}
	#restaurants-list li {
		margin: .5rem 0rem;
		width: 90%;
	}
	.filter-options select {
		margin: 0.1rem;
    padding: 0 .2rem;
    width: 9.5rem;
	}
	#restaurant-container, #reviews-container {
		padding: 4rem 1rem 1rem;
    width: 90%;
	}
}

@media (min-width: 500px) and (max-width: 749px) {
	#restaurants-list li {
    width: 42%;
	}
	#restaurant-container, #reviews-container {
		width: 70%;
	}
}

@media (max-width: 749px) {
	#breadcrumb {
		width: 100%;
	}
	#restaurant-container, #reviews-container {
		margin: auto;
		padding: 4rem 1rem 1rem;
	}
	.inside #map-container {
		position: relative;
    background: blue none repeat scroll 0 0;
		height: calc(100vh - 7rem);
		margin-top: 3rem;
    width: 100%;
	}
	.inside #footer {
		width: 100%;
	}
}
